html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


.wrapper{
width: 100%;
}

.smartbrain-btn{
color:  #fff;
border: 0.2px solid #3F72AF;
background: #112D4E;
    
}


.smartbrain-btn:hover{
color:  #fff;
background: #3F72AF;
}
  
.btn-1:hover{

background: #fff;
font-size: 20px;

}

.smartbrain-inactive__btn {
  color: #112D4E;
  border: 2px solid #112D4E;
  background: #fff;
}

.smartbrain-disabled__btn {
  color: #fff;
  background: #E0E0E0;
}

.btn-n-amount{
  display:flex;
  float: 1/2;
  gap: 10px;
  white-space: space 10rem;
  justify-content: center;
  padding-bottom: 1rem;
  margin-bottom: 3%;
  margin-bottom: 50px;
  color: #112d4e;
  background-color: #fff;
  
}

.course-offered-text{
  padding-bottom: 5%;
  

}

.margin-btn{
  margin-top: 0%;
  
  
}

.inspirational-text{
  padding: 4% 4% 0% 4%  ;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 300px;
  font-weight: 200px;
  text-align: center;
}

.smartbrain-section {
  margin-bottom: 80px;
}

.section-title h3 {
  font-weight: 80%;
  font-size: 57%;
  line-height: 130%;
}

@media (min-width: 992px) {
  .section-title h3 {
    font-weight: 75%;
    font-size: 55%;
    line-height: 54%;
  }
}

/* Start course showcase */
.courses-showcase {
height: 538px;
width: 100%;
background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 45, 78, 0.7)), to(rgba(17, 45, 78, 0.7))), url("../img/courses/showcase.jpg") no-repeat;
background: linear-gradient(rgba(17, 45, 78, 0.7), rgba(17, 45, 78, 0.7)), url("../img/courses/showcase.jpg") no-repeat;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-position: 50% 50%;
color: #fff;
padding: 20px;
}

@media only screen and (min-width:768px){
  .courses-showcase{
    display: block;
    width: 100%;
    height: 430px;
  }
}
.courses-showcase .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.courses-showcase-content h2 {
  font-style: normal;
  font-weight: 900px;
  font-size: 50px;
  line-height: 135%;
  margin-bottom: 5px;
  color: #ffffe0;
  
}
showcase-text{
  size: 47%;
  color: rgb(32, 26, 26);

}

.courses-showcase .main-content p:first-child {
  font-size: 14px;
  font-weight: 800;
  line-height: 139%;
  color: #ffffe0;
}


.courses-showcase .main-content {
  margin-right: 20px;
}

.courses-showcase .main-content {
  margin-top: 10px;
}

.courses-showcase .secondary-content {
  position: absolute;
  bottom: 90px;
  left: 5%;
  background: #fff;
  color:  #112d4e;
  width: 90%;
  -webkit-box-shadow: 0.39479px 0.78959px 12.6334px #0000001a;
  box-shadow: 0.39479px 0.78959px 12.6334px #0000001a;
  padding: 10px;
  z-index: 2;
}

.courses-showcase .secondary-content h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.courses-showcase .secondary-content p {
  font-weight: 300;
  font-size: 8.57456px;
  line-height: 13px;
}

.course-about {
  margin-top: 120px;
}

.course-about .content img {
  height: 313px;
  width: 100%;
  
}

.course-about .content h3 {
  font-weight: 600;
  font-size: 19.0638px;
  line-height: 29px;
}


@media (min-width: 992px) {
  .course-about .content img {
    height: 430px;
    width: 100%;
  }
  .course-about .content h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
  }
  .course-about .content p {
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
  }
}
