.container{
    padding: 8em 0;
}

.con{
     position: relative;
     text-align: center;
     color: #000;
 }

.text > h2{
    position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text > p{
    position: absolute;
    top: 70%;
  left: 50%;
  font-size: .9rem;
  padding:  9em 0;
  transform: translate(-50%, -50%);

}
.text > .page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button.btn a{
    text-decoration: none;
    background: #112D4E;
    color: #fff;
    padding: .4em 1em;
}
button.btn a:hover{
    color: #112D4E;
    border: 1px solid #112D4E;
    background-color: #fff;
}


@media (max-width: 991.98px){
    .blob {
        display: none;
    }
    .illus .img-fluid {
        width:50%;
        display: block; 
    }
    .row{
        flex-direction: column-reverse;   
    }
    .text{
        text-align: left;
        margin: 0 auto;
        position: relative; 
        top: 0;
        padding: 12em 0;
        left: 0;
    }
   
    .buttons {
        position: relative;
        top: 0;
        left: 50%;
        margin: 0 auto;
        text-align: center;
        transform: translate(-50%, -50%);

    }
}