html {
    scroll-behavior: smooth;
  }
  
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .devugo-btn {
    background: #112D4E;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #112D4E;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .devugo-btn:hover {
    background: #3F72AF;
    border: 1px solid #3F72AF;
    color: #fff;
}

.devugo-inactive__btn {
  color: #112D4E;
  border: 2px solid #112D4E;
  background: #fff;
}

.devugo-disabled__btn {
  color: #fff;
  background: #E0E0E0;
}

/* Start Navbar */
.navbar {
    background: #DBE2EF;
    position: fixed;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 5;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .navbar .nav-item .nav-link.active, .navbar .nav-item .nav-link:hover {
    position: relative;
  }
  .navbar .nav-item .nav-link.active::after, .navbar .nav-item .nav-link:hover::after {
    position: absolute;
    content: '';
    left: 11px;
    bottom: 5px;
    height: 2px;
    width: 40px;
    background-color: #112D4E;
  }
  
  .navbar li a.nav-link {
    color: #112D4E !important;
  }
  
  .signin {
    border: 1.5px solid #112D4E;
    color: #112D4E;
    background: white;
    border-radius: 5px;
    padding: 10px 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  
  .signin:hover {
    background: white !important;
    color: #112D4E;
  }
  
  .register {
    background: #112D4E;
    color: white;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  
  .show-shadow {
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25) !important;
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25) !important;
  }
  
  @media (min-width: 992px) {
    .navbar {
      height: 100px;
      background: #fff;
    }
    .navbar li {
      margin-right: 20px;
    }
    .navbar li:last-child {
      margin-right: 0px;
    }
    .signin {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  /* End Navbar */
  
  .footer footer {
    height: 50px;
    background: #fff;
    color: #112D4E;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }
  
  .footer footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .footer footer div span {
    font-weight: 600;
    font-size: 13.0619px;
  }
  
  .footer .navigations {
    background: #112D4E;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .footer .navigations .navigation {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #DBE2EF;
  }
  
  .footer .navigations .navigation h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  
  .footer .navigations .navigation h4 i {
    color: white;
    margin-left: 10px;
  }
  
  .footer .navigations .navigation ul {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
  }
  
  .footer .navigations .navigation img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  
  .footer .navigations .navigation .footer-nav__content {
    height: 0px;
    overflow: hidden;
    list-style: none;
  }
  
  .footer .navigations .navigation .footer-nav__content li a {
    color: #ececec;
  }
  
  .footer .navigations .navigation:last-child h4 {
    display: none;
  }
  
  .footer .navigations .navigation:last-child .footer-nav__content {
    height: 100%;
  }
  
  .footer .navigations .navigation:last-child .footer-nav__content ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer .navigations .navigation:last-child .footer-nav__content li div, .footer .navigations .navigation:last-child .footer-nav__content li p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .footer .navigations .navigation:last-child .form {
    display: none;
  }
  
  .footer .navigations .navigation:hover .footer-nav__content {
    height: 100% !important;
  }
  
  @media (min-width: 992px) {
    .footer .navigations {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 40px 30px;
    }
    .footer .navigations .navigation {
      width: 20%;
      text-align: left;
      border-bottom: none;
    }
    .footer .navigations .navigation h4 i {
      display: none;
    }
    .footer .navigations .navigation .footer-nav__content {
      height: 100px;
    }
    .footer .navigations .navigation:last-child h4 {
      display: block;
    }
    .footer .navigations .navigation:last-child .footer-nav__content li div, .footer .navigations .navigation:last-child .footer-nav__content li p {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
    }
    .footer .navigations .navigation:last-child .form {
      display: block !important;
      margin-top: 10px;
    }
    .footer .navigations .navigation:last-child .form input {
      border: 1px solid #112D4E;
      height: 45px;
    }
  }
  
   /* Start Home Banner */
  .home-banner {
    height: 502px;
    background: linear-gradient(rgba(17, 45, 78, 0.7), rgba(17, 45, 78, 0.7)), url("../img/faq/model.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 20px;
    
    }
  
  .home-banner button {
    width: 220px;
    font-weight: 600px;
    width: 138px;
    height: 57px;
  }
  
  .home-banner .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  
  .home-banner .main-content h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 14px;
  }
  
  .home-banner .main-content p:first-child {
    font-size: 12px;
    font-weight: 600;
    line-height: 147%;
  }
  
  .home-banner .main-content .action-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .home-banner .main-content .action-btns button {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .home-banner .main-content .action-btns p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .home-banner .main-content .action-btns p span {
    margin-right: 20px;
  }
  
  .home-banner .main-content .action-btns p i {
    margin-top: 5px;
  }
  
  .home-banner .secondary-content {
    position: absolute;
    bottom: 90px;
    left: 5%;
    background: #fff;
    color: #000;
    width: 90%;
    -webkit-box-shadow: 0.39479px 0.78959px 12.6334px rgba(0, 0, 0, 0.1);
            box-shadow: 0.39479px 0.78959px 12.6334px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .home-banner .secondary-content h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  
  .home-banner .secondary-content p {
    font-weight: 300;
    font-size: 8.57456px;
    line-height: 13px;
  }
/*
  .qst-1{
      display: flex;
  }
  .panel-title {
    display: flex;
  }
  */
  h2 {
    font-family: Arial, Verdana;
    font-weight: 800;
    font-size: 1.5rem;
    color: #091f2f;
    text-transform: uppercase;
    }
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 1rem;
    color: #000;
    align-items: center;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 1.5rem;
    content: "\f106";
    color: #000;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}
  
  /* End Home Banner */
  /*# sourceMappingURL=main.css.map */